body {font-family: Arial, sans-serif; background: 
      linear-gradient(to bottom, rgb(0, 0, 150) 1%, purple 20%, rgb(200, 0, 200) 50%, yellow 90%);
      background-attachment: fixed; background-position: center; background-repeat: no-repeat;
      background-size: cover; margin: 0; padding: 0; overflow-x: hidden;                                   }

h1 {box-sizing: border-box}
h1 img {width: 100%; height: auto}

#Layer {position: relative; max-width: inherit; min-height: 15000px; max-height: 15000px;
        overflow-y: hidden; margin: 0; padding: 0                                        }

.Loop {position: fixed; left: 50%; top: 50%; transform-origin: center center; min-width: 50%; max-width: 50%; 
       transform: translate(-50%, -50%) rotate(calc(var(--scrolltop) * 0.1deg)); z-index: -1                 }  
       
.Star {position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); min-width: 15%; max-width: 15%; 
       filter: hue-rotate(calc(var(--scrolltop) * 0.25deg)); z-index: -1} 
       
.Clouds {position: fixed; top: 0%; min-width: 100%; max-width: 100%; 
         min-height: calc(var(--H)*var(--H)/var(--W)); max-height: calc(var(--H)*var(--H)/var(--W));
         translate: 0px calc(var(--scrolltop) * (var(--W)/var(--H)) * -0.05px); z-index: -1         } 
         
#Valley {position: fixed; top: calc((1 + 0.5*(var(--W)/var(--H))) * 100%); 
         min-width: 100%; max-width: 100%; translate: 0px calc(var(--scrolltop)*((1 + var(--W)/var(--H)) * -0.065px))}        
         
#Ground {position: fixed; top: 0%; 
         min-width: 100%; max-width: 100%; min-height: calc(var(--W)*1px); max-height: calc(var(--W)*1px);
         background: url(Ground.gif); background-repeat: no-repeat; background-size: 100% 100%; translate: 0px calc(var(--G)*1px)}        

.Logo {position: absolute; bottom: 0%}

.Section {min-height: calc(var(--W)*10px); max-height: calc(var(--W)*10px); display: flex; flex-direction: column; 
          justify-content: space-between; translate: 0px calc((var(--W) - var(--scrolltop))*1px*var(--W)/var(--H))}
.Section > div {background-size: cover; box-sizing: border-box; 
                border-style: solid; background: linear-gradient(to right, rgba(0, 255, 255, 0.5) 20%, rgba(100, 255, 100, 0.5) 80%); 
                padding: 10px 5% 10px 5%; margin: auto; border-width: 0; margin-bottom: 50px; width: inherit; position: relative                                    }
.Section > div:hover {background: linear-gradient(to right, rgba(255, 255, 0, 0.5) 20%, rgba(255, 255, 255, 0.5) 80%)}

.Section div img {position: relative}
a {display: flex; color: rgb(0, 0, 130); justify-content: space-between; overflow-wrap: anywhere}
.Section div:hover a {color: rgb(0, 70, 0)}

h2 {padding-left: 3px; padding-right: 3px; color: white; background-color: blue; 
    -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: black}
.Section div h2{padding-left: 3px; padding-right: 3px; color: white; background-color: blue; 
                -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: black}
.Section div:hover h2{background-color: green; -webkit-text-stroke-color: black}
.Subheader h2 {margin: 0; text-align: center; padding: 30px; color: black; 
               -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: white;
               background: linear-gradient(to bottom, rgba(0, 0, 150, 0.5) 1%, rgba(0, 150, 150, 0.5) 20%, rgba(0, 150, 150, 0.5) 35%,
               rgba(0, 255, 0, 0.5) 55%, rgba(0, 255, 0, 0.5) 65%, rgba(255, 255, 255, 0.5) 90%); display: flex; 
               justify-content: space-evenly                                                                                                }


h3 {background: linear-gradient(to bottom, rgb(0, 75, 150) 20%, rgb(0, 0, 100) 40%, rgb(0, 50, 0) 60%, rgb(0, 200, 0) 80%);
    -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent;
    -webkit-text-stroke-color: white; -webkit-text-stroke-width: 0.01em                                                              }  
.Section div:hover h3{
    background: linear-gradient(to bottom, rgb(0, 50, 0) 20%, rgb(50, 150, 0) 40%, rgb(255, 255, 255) 80%);
    -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent;
    -webkit-text-stroke-color: black                                                                                                  }                 

.Section img, iframe {max-width: 100%}

.Video {position: relative; overflow: hidden; width: 100%; padding-top: 56.25%}

iframe {position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%}